In [7]:
import pandas as pd

In [9]:
#data in list
data = [
    [1, 'Ramesh', 24],
    [2, 'Suresh', 30],
    [3, 'Mukesh', 22]
]

In [11]:
# Column names
columns = ['ID', 'Name', 'Age']

In [13]:
# Create a DataaFrame
df = pd.DataFrame(data, columns=columns)

In [15]:
df

   ID    Name  Age
0   1  Ramesh   24
1   2  Suresh   30
2   3  Mukesh   22

In [17]:
# Save DataFrame to an Excel file
excel_file = 'convert_data.xlsx'
df.to_excel(excel_file, index=True)

In [18]:
# Data as a dictionary
data_1 = {
    'Post No': [10, 21, 31],
    'Name': ['Abhinav', 'Bassi', 'Samay'],
    'Address': ['Gwalior', 'Nashik', 'Pune']
}

In [19]:
# Data frame of dictionary
dt = pd.DataFrame(data_1)

In [23]:
dt

   Post No     Name  Address
0       10  Abhinav  Gwalior
1       21    Bassi   Nashik
2       31    Samay     Pune

In [25]:
# Save DataFrame to an Excel file
excel_file = 'convert_data1.xlsx'
dt.to_excel(excel_file, index=True)